@import url("https://fonts.googleapis.com/css?family=Poiret+One");

body {
  background: #03a694;
  padding-bottom: 1em;
  height: 100vh;
}

header h1 {
  font-family: "Poiret One", cursive;
  color: #fff;
  font-weight: 700;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 1em;
}

.formulario {
  max-width: 30em;
  margin: 0 auto;
}

.card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-bottom: 1em;
  user-select: none;
}

.card-back {
  display: none;
}

.card-fliped .card-face {
  display: none;
}

.card-fliped .card-back {
  display: block;
}

.card-body {
  background-color: #fff;
}

.show-log {
  position: absolute;
  top: 0;
  right: 0;
  border-left: 1em solid transparent;
  border-top: 1em solid #ccc;
  border-right: 1em solid #ccc;
  border-bottom: 1em solid transparent;
  background: transparent;
  box-shadow: 0 0 5px;
  cursor: pointer;
  border-radius: 0 3px 0 3px;
  z-index: 10;
}

label {
  font-weight: bold;
}
